:root {
  --bege: #fcecca;
  --begeAmarelado: #fdeab89a;
  --vermelho: #990505;
  --preto: #2a2a2a;
  --azul: #547aec;
}
body {
  font-family: Arial, sans-serif;
  background-color: var(--bege);
  margin: 0;
  box-sizing: border-box;
}
#lista-carrinho {
  margin: auto;
  padding-left: 0px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
}
.item-carrinho {
  display: flex;
  margin-bottom: 20px;
  background: var(--bege);
  width: 93%;
  border: solid 1px rgb(224, 154, 87);
}
.area-img img {
  width: 100px;
  height: auto;
  border-radius: 8px;
}
.area-detalhes {
  flex-grow: 1;
  margin-left: 20px;
  width: 100%;
}
.sup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nome-prod {
  font-size: 18px;
  font-weight: bold;
}
.delete-item {
  color: red;
  text-decoration: none;
}
.middle span {
  display: block;
  margin-top: 5px;
}
.preco-qtd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bege);
}
.count {
  width: 40%;
}
.count a {
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  background-color: #ffffff;
}

.count a.mais,
.count a.menos {
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 0 6px;
}

.qtd-item {
  width: 45px;
  text-align: center;
  border-radius: 10px;
  border-color: #818181;
}
.item-carrinho:last-child {
  margin-bottom: 0;
}
.carrinho {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 40px;
}
.carrinho a {
  text-decoration: none;
  color: #ffffff;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 4px;
}
.carrinho a:hover {
  background-color: #555;
}
.total {
  font-size: 20px;
  font-weight: bold;
}
.carrinho-count {
  background-color: rgb(134, 134, 134);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 14px;
}
.esvaziar {
  text-align: center;
  padding: 40px 0;
  color: #1d3375;
  font-size: 18px;
}
.carrinho-vazio img {
  margin-bottom: 10px;
  opacity: 0.8;
}
#limpar-carrinho {
  display: flex;
  margin: 0;
  padding: 10px 20px;
  background: rgb(127, 160, 127);
  color: #ffffff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.mais {
  border-radius: 50%;
}

.titulo {
  text-align: center;
  font-size: 24px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
header {
  background-color: rgb(148, 4, 4);
  padding: 10px;

  color: white;
  width: 100%;
}
#resumo-carrinho {
  background: rgb(238, 126, 85);
  text-align: center;
}
